.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;
  background-color: #f6f5f4;
  top: 0;
  left: 0;
  right: 0;  
  z-index: 100;
}

.nav-name {
  font-family: "TitleFont", serif;
  font-size: 1.5rem;
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: inherit;
}

.nav-links a:hover {
  opacity: 0.5;
}